:root {
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", sans-serif;
    --alternative-font: "Dancing Script", cursive;
    --primary-background: #0072BC;
    --secondary-background: #77A800;
    --neutral-background: #ffffff;
}
