:root {
    --very-light-pink: #f7f7f7;
    --light-green: #acd9b2;
    --font: "Roboto", sans-serif;
}

body {
    background-color: var(--very-light-pink);
    font-family: var(--font);
    margin: 0 auto;
    max-width: 1200px;
}

header,
footer {
    text-align: center;
    background-color: var(--light-green);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px #888888;
    padding: 2px;
}

main {
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    border: solid 1px #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

#writtenReview {
    height: 10rem;
}

.rating {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rating div {
    align-items: center
}

.rating div input,
.rating div label {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.optional {
    font-weight: normal;
}

.rating label {
    margin-right: 5px;
}

.submit-button {
    width: 100%;
    background-color: var(--light-green);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}